header {
  font-size: 27pt;
}

header h2{
  color: white;
  font-size: 15pt;
  font-family: futura
}

nav h3 a{
  color: white;
  font-size: 12pt;
  font-family: futura;
  background-color: darkgray;
  margin: 12px;
  border-radius: 20px
}

img {
  border-radius: 18px;
  padding: 12px;
}

header h3{
  font-size: 12pt
}

main section{
  background-color: lightblue;
  padding: 12px
}
main section p{
  font-size: 12pt;
}


.centered{
  text-align: center;
}

.background{
  background-color: black;
  width: auto;
  margin: auto
}

.double { 
  border: 9px double #000; 
  margin: 30px;
  background-color: pink;
  border-radius: 3px;
}

.parent{
  display: flex;
}

.child{
  border: 5px;
  solid: blue;
}
